/*GALLERY SECTION ANIMATION*/

p {
    font-weight: 300; /*boldness*/
    line-height: 30px; /*space in between lines*/
    padding-bottom: 100px; /*padding from the bottom*/
}

.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden; /*anyhing that goes beyond img I don't want to see it*/
    border-radius: 8px; /*rounding the edges of img*/
    padding: 1px; /*padding is inside of your element, margin is outside*/
    border: 1px solid #021a40;
    background-color: rgb(139, 182, 219);
    box-shadow: 2px 2px 10px rgba (0, 0, 0, 0.7);
}

.photo-container {
    text-align: center;
    margin: 15px auto; /*auto is centering, right and left is auto*/
    width: 300px;
    height: 169px;
}

.photo-container img {
    max-width: 100%;
    width: 300px;
    height: 169px;
}

.photo-overlay {
    color: #151515;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center; /*For centering text inside .photo*/
    align-items: center;
    background: rgba (0, 0, 0, .5);
}

.white-head {
    color: #2d1d05;
    margin-top: 5%;
    line-height: 30px;
    padding-bottom: 20px;
}

/*PHOTO OVERLAY TRANSITIONS*/

.photo-overlay {
    opacity: 0;
    transition: opacity .1s; /*this is the animation, we see it only when hover*/
    border-radius: 10px;
    cursor: pointer;
}

.photo-overlay p{
    width: 100%;
    height: 100%;
    color: #2d1d05;
}

.photo-overlay:hover {
    opacity: 1;
}

.photo img{
    transition: transform .5s;
    transform-origin: 50% 50%;
}

.photo:hover img{
    transform: scale(1.1);
}

col {
    display: table-column;
  }