.challenge_1 img{
    filter: drop-shadow(6px 6px 8px yellow); /*6px both hor. and vert., 8px blur effect*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

/* To center an image, set left and right margin to auto and make it into a block element*/

.challenge_1 {
    text-align: center;
}

footer {
    text-align: center;
    display: block;
    font-weight: bold;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

table, th, td{
    border: 0.5px solid grey;
}

th {
    text-align: center;
    padding: 1em;
    background-color: antiquewhite;
}

td {
    text-align: left;
    padding: 1em;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 50px;
  width: 20%;
}

.text-over-img { /*text over image*/ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #b63f3f;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 80%;
}

/* Links inside the navbar */
.navbar a {
  display: inline-block;
  color: #1a1919;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 60px; /* Add a top margin to avoid content overlay */
}

.row {
  display: flex;
  width: 50%;
}

.column {
  flex: 50%;
  height: 300px;
  background-color: powderblue;
  color: grey;
}

.column p:hover {
    background-color: azure;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #bdd3db;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 1s ease-in-out;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  color: rgb(22, 21, 21);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

@media screen and (max-width:600px) {
  html {
    background-color: blue;
  }
}
