html {
	font-family: Open Sans;
	color: darkslategray;
	background-color: antiquewhite;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
  
li {
	float: center;
}
  
.wrap {
	margin-left: 120px;
	margin-right: 120px;
	display: inline;
	text-align: center;
}

h1 {
	text-align: center;
    font-variant: small-caps;
    letter-spacing: 3pt;
    word-spacing: 10pt;
    font-size: 3em;
    line-height: 2;
    font-weight: 900;
    padding: 2px;
}

p, h2, h4 {
	color: Black;
	font-family: Open Sans;
	margin-left: 120px;
	margin-right: 120px;
}

img, iframe {
	margin-left: 120px;
	margin-right: 120px;
	border: 2px solid #48aa81;
}

h2 {
	color: DarkSlateGray;
}

footer {
	text-align: center;
	font-family: Open Sans;
}

#contact {
	margin-left: 120px;
	margin-right: 120px;
	width: 50%;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(227, 218, 201, 0.3);
}

#contact h2 {
    text-align: center;
    font-weight: 500;
}

#contact form {
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
    border: 1px solid #664e4e;
    border-radius: 7px;
}

#contact input[type="text"] {
    border: 1px solid #424549;
    margin: 10px 1em;
    border-radius: 7px;
	width: 70%;
}

#contact input[type="text"]:hover {
    box-shadow: 0 0 5px rgba(202, 123, 223, 0.8)
}


#contact input[type="submit"] {
    color: rgb(241, 241, 241);
    cursor: pointer;
    text-align: center;
    padding: 7px 0px;
    width: 10%;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color: #797a7b;
}

#contact input[type="submit"]:hover {
    color: #000;
    background-color: #c8c8c9;
    box-shadow: 2px rgba(0, 0, 0, 0.5);
}

